/* COLORS */
$color-green: #8DEAD9;
$color-dark-green: #0A4242;
$color-yellow: #FEF1BB;
$color-black: #272D2D;
$color-white: #FFF;
$color-orange: #FC9774;
$color-light-orange: #FFE7DF;

/* GLOBAL VARIABLES */
$body-padding-big-screen: 150px;
$body-padding-desktop: 100px;
$body-padding-mobile: 40px;

/* MIXINS DESKTOP */
@mixin paragraph-text-light {
  font-family: 'Lato Light';
  font-size: 16px;
  line-height: 24px;
}

@mixin paragraph-text-regular {
  font-family: 'Lato Regular';
  font-size: 16px;
  line-height: 24px;
}

@mixin image-before-after {
  display: inline-flex;
  content: '';
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@mixin text-banner {
  font-family: 'Lato Regular';
  font-size: 24px;
}

@mixin text-regular {
  font-family: 'Lato Regular';
  font-size: 18px;
}

/* MIXINS MOBILE */
@mixin paragraph-text-light-mobile {
  font-family: 'Lato Regular';
}

@mixin text-banner-mobile {
  font-size: 20px;
  text-align: left;
}

/* GENERIC TAG */
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  white-space: pre-wrap;
}

h1 {
  font-size: 45px;
  line-height: 50px;
  font-family: 'Lato Black';
  text-transform: uppercase;
}

h2 {
  font-size: 30px;
  line-height: 40px;
}

h3,
h4 {
  font-family: 'Lato Bold';
}

p,
a {
  @include paragraph-text-regular;
}

a {
  color: $color-orange;
}

li {
  @include paragraph-text-regular;
}

button {
  padding: 12px 20px;
  background-color: $color-orange;
  color: $color-white;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  font-family: 'Lato Bold';
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.flex {
  display: flex;
  flex-direction: row;
}

/* TEMPLATE LOGO + TEXT */
article.layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: left;

  div.content {
    max-width: 350px;
    margin-left: 20px;
  }

  img.icon {
    min-height: 200px;
    min-width: 200px;
    height: 200px;
    width: 200px;
  }

  h3 {
    font-family: 'Lato Regular';
    font-size: 18px;
  }

  p {
    @include paragraph-text-light;
  }
}

/* TEMPLATE BANNER */
div.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -$body-padding-big-screen;
  width: calc(100% + 2 * #{$body-padding-big-screen});
  height: 400px;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  p {
    @include text-banner;
  }
}

@media (max-width: 1023px) {
  h1 {
    font-size: 45px;
    line-height: 52px;
  }
}

@media (max-width: 550px) {
  h1 {
    font-size: 45px;
    line-height: 52px;
  }

  h2 {
    font-size: 26px;
    font-family: 'Lato Regular';
  }

  /* TEMPLATE LOGO + TEXT */
  article.layout {
    flex-direction: column;

    div.content {
      margin: 0;
    }

    p {
      @include paragraph-text-light-mobile;
    }
  }

  /* TEMPLATE BANNER */
  div.banner {
    align-items: flex-start;
    margin-left: -$body-padding-mobile;
    width: calc(100% + 2 * #{$body-padding-mobile});
    padding: 0 $body-padding-mobile;

    p {
      @include text-banner-mobile;
    }
  }
}